<%- include("templates/header") %> 
<h1>Events</h1>
 <!-- events.forEach(function(event) { -->
    <div>
        <h3> event title </h3>
        <p>Start: event.start_time </p>
        <p>End:  event.end_time </p>
        <!-- Additional event details -->
    </div>
 <!-- });  -->
<a href="/main">Back to Main</a>
<%- include("templates/footer") %> 