<%- include("templates/header") %> 
<h1>Delete an Event</h1>
 <!-- events.forEach(function(event) -->
    <div>
        <!-- <span> event.title </span> -->
        <form action="/delete-event" method="post">
            <input type="hidden" name="eventId" value="<%= event.event_id %>">
            <button type="submit">Delete</button>
        </form>
    </div>
 <!-- });  -->
<a href="/main">Back to Main</a>
<%- include("templates/footer") %> 