<%- include("templates/header") %>

<h1>Hello this is the home page.</h1>

<form action='/signup' method='get'>
    <button id = 'signup'>Sign up</button>
</form>
<br>
<form action='/login' method='get'>
    <button id = 'login'>Log in</button>
</form>

<%- include("templates/footer") %>